.h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  line-height: 69px;   
  margin-bottom: ;
  font-size: 28px;
  color: rgb(252, 248, 248);
  text-align: center;
  background: #4aaaa5;
  height: 69px;
  width: 224px;
  vertical-align: text-top;
}

.h2 {
  color: #4aaaa5;
}

.container {
  width: 960px;
  margin: 0 auto;
}

p {
  color: #777777;
}

.box {
  width
}

#profile-image {
  width: 177px;
  height: 134px;
}